# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/

# Streamlit
.streamlit/

# OS files
.DS_Store
Thumbs.db

# Python packaging
build/
dist/
*.egg-info/
